# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

template-base-2/README.md
/template-base-2/yarn.lock
/template-base-2/template/package.json
/template-base-2/template/yarn.lock
/template-base-2/template/node_modules
/template-base-2/template/_templates
/template-base-2/template/.eslintcache

template-sample-app-2/README.md
/template-sample-app-2/yarn.lock
/template-sample-app-2/template/package.json
/template-sample-app-2/template/yarn.lock
/template-sample-app-2/template/node_modules
/template-sample-app-2/template/_templates
/template-sample-app-2/template/.eslintcache

template-base-3/README.md
/template-base-3/yarn.lock
/template-base-3/template/package.json
/template-base-3/template/yarn.lock
/template-base-3/template/node_modules
/template-base-3/template/_templates
/template-base-3/template/.eslintcache

template-sample-app-3/README.md
/template-sample-app-3/yarn.lock
/template-sample-app-3/template/package.json
/template-sample-app-3/template/yarn.lock
/template-sample-app-3/template/node_modules
/template-sample-app-3/template/_templates
/template-sample-app-3/template/.eslintcache

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/template-base-2/template/build
/template-sample-app-2/template/build
/template-base-3/template/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# cypress videos
*.mp4
*.mp4.meta
