<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="CARTO for React - Sample Location Intelligence Application" />

    <link rel="apple-touch-icon" sizes="180x180" href="%PUBLIC_URL%/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="%PUBLIC_URL%/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="%PUBLIC_URL%/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="%PUBLIC_URL%/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="%PUBLIC_URL%/favicon/manifest.json" />
    
    <title>CARTO for React Sample App</title>
    <style>
      ul { list-style: none; }
      ul li { display: inline-block; }
      ul li img { height: 128px; }
      ul li + li { margin-left: 64px; }
    </style>
  </head>
  <body>
    <h1>Sorry, your browser is not supported</h1>
    <p>Try again from the latest versions of any of these browsers:</p>
    <ul>
      <li><a href="https://www.google.com/chrome/" target="_blank"><img src="https://www.google.com/chrome/static/images/chrome-logo.svg" alt="Google Chrome"></a></li>
      <li><a href="https://www.microsoft.com/edge" target="_blank"><img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4nqTh" alt="Microsoft Edge"></a></li>
      <li><a href="https://www.mozilla.org/firefox/new/" target="_blank"><img src="https://www.mozilla.org/media/protocol/img/logos/firefox/browser/logo.eb1324e44442.svg" alt="Mozilla Firefox"></a></li>
      <li><a href="https://www.opera.com/" target="_blank"><img src="https://forums.opera.com/assets/uploads/files/1511183749295-opera-logo-web-browser-3bbd1bb29ad2ba8e-256x256.png" alt="Opera Browser"></a></li>
    </ul>
  </body>
</html>